*.a
*.o
/logManager
/build/NetApp
/build/TraceWorker
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/logManager
/build/Makefile
/build/CMakeFiles
/build/CosApp
/build/CrossPlat
/build/Encrypt
/build/LogCore
